/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2016, 12:40:27 PM
    Author     : andre
*/

.width-30-pct{
    width:30%;
}

.text-align-center{
    text-align:center;
}

.margin-bottom-1em{
    margin-bottom:1em;
}

